.button1 {
	border-radius: 20px;
	border: 1px solid aqua;
	background-color: aqua;
	color: black;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
		margin-top: 20px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  .button1:hover{
	border: 1px solid black;
	 background-color: black;
	 color: white;
  }

#logoutt{
	color: black;	
}
/* --- Section --- */
.section {
	position:relative;
	padding-top:80px;
	padding-bottom:80px;
}

.section-hr {
	margin-top:80px;
	margin-bottom:80px;
	border-color: #EBEBEB;
}

.section-header {
	margin-bottom:40px;
}

/* --- Background Image --- */
.bg-image {
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background-position:center;
	background-size:cover;
}

.bg-image.bg-parallax {
	background-attachment:fixed;
}

.bg-image.overlay:after {
	content:"";
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#374050), to(#798696));
	background-image: linear-gradient(to bottom, #374050 0%, #798696 100%);
	opacity: 0.7;
}

/* --- Buttons --- */






.hero-area {
	position:relative;
	padding-top: 80px;
	padding-bottom: 80px;
}

#home.hero-area {
	height:calc(100vh - 80px);
	padding-top: 0px;
	padding-bottom: 0px;
}

.home-wrapper {
	position:absolute;
	top:50%;
	-webkit-transform:translateY(-50%);
	    -ms-transform:translateY(-50%);
	        transform:translateY(-50%);
	left:0;
	right:0;
}



/* -- Feature -- */
.feature {
	position:relative;
}

.feature + .feature  {
	margin-top:40px;
}

.feature .feature-icon {
	position:absolute;
	left:0;
	top:0;
	width:80px;
	height:80px;
	line-height:80px;
	text-align:center;
	border-radius: 50%;
	font-size:30px;
	border:1px solid #EBEBEB;
	color:#FF6700;
}

.feature-content {
	padding-left:100px;
}

/* -- About Img -- */
.about-img {
	margin-top:50px;
	
}


.about-img > img {
	width:100%;
	border-radius: 30px;
}

/* -- About Video -- */
.about-video {
	position: relative;
	display: block;
	border-radius: 4px;
	overflow: hidden;
}

.about-video > img {
	width:100%;
}

.about-video .play-icon {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50% , -50%);
	    -ms-transform: translate(-50% , -50%);
	        transform: translate(-50% , -50%);
	width: 80px;
	height: 80px;
	line-height: 80px;
	text-align: center;
	background: #fff;
	border-radius: 50%;
	font-size: 24.027px;
	z-index:10;
	-webkit-animation : 2s play-animation infinite;
	        animation : 2s play-animation infinite;
	-webkit-transition:0.2s color;
	transition:0.2s color;
}

.about-video:hover .play-icon {
	color:#FF6700;
}



.about-video:after {
	content:"";
	position:absolute;
	left:0;
	right:0;
	bottom:0;
	top:0;
	background-color:#FF6700;
	opacity:0.7;
}

/*------------------------------------*\
	Courses
\*------------------------------------*/
.course {
	margin-top:20px;
	margin-bottom:20px;
}

.course .course-img {
	position: relative;
	display:block;
	margin-bottom:20px;
	border-radius:4px;
	overflow:hidden;
}

.course .course-img > img {
	width:100%;
}

.course-img:after {
	content:"";
	position:absolute;
	left:0;
	right:0;
	bottom:0;
	top:0;
	background-color:#FF6700;
	opacity:0;
	-webkit-transition:0.2s opacity;
	transition:0.2s opacity;
}

.course .course-img:hover:after {
	opacity:0.7;
}

.course .course-img .course-link-icon {
	position:absolute;
	left:50%;
	top:50%;
	-webkit-transform: translate(-50% , calc(-50% - 15px));
	    -ms-transform: translate(-50% , calc(-50% - 15px));
	        transform: translate(-50% , calc(-50% - 15px));
	width:40px;
	height:40px;
	line-height:40px;
	text-align:center;
	border:2px solid #fff;
	color:#fff;
	border-radius:50%;
	opacity:0;
	z-index:10;
	-webkit-transition:0.2s all;
	transition:0.2s all;
}

.course .course-img:hover .course-link-icon {
	-webkit-transform: translate(-50% , -50%);
	    -ms-transform: translate(-50% , -50%);
	        transform: translate(-50% , -50%);
	opacity:1;
}

.course .course-title {
	display:block;
	height:42px;
}









	


@media only screen and (max-width: 767px) {
	/*-- Hero area --*/
	.hero-area h1 {
		font-size:30px;
	}

	
}

@media only screen and (max-width: 480px) {
	/*-- Courses --*/
	#courses-wrapper [class*='col-xs'] {
		width:100%;
	}
	
	
}



/**********/
/*******************************************************************    image      **********************************************/
.img-fluid{
	border-radius: 30px;
	width: 90%;
	}
	.image{
		display: flex;
		justify-content: center;
	}

h1{
	color: salmon;
	font-weight: bold;
	font-family: italic;
}
h2{ 
	font-weight: bold;
	color: salmon;
	
	}

.heading{
	font-weight: bold;
	color: salmon;
	font-size:3em;
	padding-bottom: 30px;
}
.paragraph{
	font-size:2em;
	padding-bottom: 120px;
	color: white;
}

/*                               reg                                */


@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
}

.boddy {
	background-color:gainsboro;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: -20px 0 50px;
}

.reg_head {
	font-weight: bold;
	margin: 0;
	font-family: Roboto;
}

.reg_p {
	font-family: roboto;
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

.reg_a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

.reg_button {
	border-radius: 20px;
	border: 1px solid aqua;
	background-color: aqua;
	color: black;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.95);
	
}

button:focus {
	
	outline: none;
}

button.ghost {
	background-color: white;
	border-color: black;
	border-radius: 50px;
	color:black;
}

.ghost:hover{
	color:red;
}

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

.reg_input {
	background-color: #eee;
	border: none;
	border-radius: 20px;
	outline-style:none;
	padding: 12px 15px;
	margin: 8px 0;
	width:100%;
}


#password{
	width: 100%;
}
#confirm_password{
	width: 100%;
}

.reg_container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow:0 0  5px 5px rgba(0,0,0,0.25), 
		    	0 0 5px 5px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlayy-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.container.right-panel-active .overlayy-container{
	transform: translateX(-100%);
}

.overlayy {
	background:aqua;	
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: black;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlayy {
  	transform: translateX(50%);
}

.overlayy-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlayy-left {
	transform: translateX(-20%);
	
}
.container.right-panel-active .overlayy-left img {
	padding-bottom: 20px;
 }


.container.right-panel-active .overlayy-left {
	transform: translateX(0);
   
}

.overlayy-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlayy-right {
	transform: translateX(20%);
}
.container.right-panel-active .overlayy-right img {
	padding-bottom: 50px;
 }


/******************* ok ***************/
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
	
}
*{
	box-sizing: border-box;
}
	
	.nav-item{
    font-size:20px;
	padding:5px;
	font-weight: italic;
	font-family:"italic";
	margin-right: 800px;

    }

	.nav-item :hover{
		font-weight: bold;
		text-decoration:3.5px solid black underline ;
		}


.blank{
	padding-bottom: 30%;
}
	#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  color:white;
  cursor: pointer;
  padding: 15px;
  
 
  background-color:transparent
}
#myBtn:hover{
	transition-duration: 2s;
	 padding-bottom: 2%;
}

	@media all and (min-width:992px){
		.navbar .nav-item .dropdown-menu{ display: none;}
		.navbar .nav-item:hover .nav-link {  }
		.navbar .nav-item:hover .dropdown-menu{ display: block;}
		.navbar .nav-item .dropdown-menu{ margin-top:0;}
	}
	@media (max-width:580px){
		body{
			width:140%;
		}
		
		h2{ 
			font-weight: bold;
			color: salmon;
			font-size:xx-large;
		}
		p{
			font-size:small;
		}
		
		.defect img{
			height: 400px;
		}
	
		.heading{
			font-size:xx-large;
		}
		.paragraph{
			font-size:larger;
		}
	
	}
	
/************************                    index  - footer             *********************/
.footer_links{
	text-decoration: none;
	color:black;
}

.footer_links:hover{
	color: salmon;
	transition: 1s;
	padding-left: 15px;
}
.text-uppercase{
	color: salmon;
}
.icon_color{
	text-decoration: none;
}

/**********                library            **************/

.grid-container {
	display: grid;

	grid-template-columns: auto auto auto;
	background-color:transparent;
	padding: 10px;
  }
  .grid-item {
	background-color:rgba(255, 255, 255, 0.6);
	border: 1px solid rgba(0, 0, 0, 0.8);
	padding: 20px;
	font-size: 20px;
	text-align: center;
  }
input[type=text] {
  width: 30%;
  
}

.list{
  list-style-type:none;
}

.subjects{
display:"none";	
list-style-type: none;
}

.search_bar{
  padding: 10px;
  display:flex;
  justify-content:center;
  list-style-type: none;
  background-color:whitesmoke;
}

.course_name{
  text-align: center;
  font-weight: bold;
  padding-right: 10px;
  color:navy;
  font-family:italic;
}
.searching{
  border: 2px solid grey;
  border-radius: 30px;
  background-color:#ffffff;
  height: 35px;	
  outline:none;
}
.searching:hover{
  
  border: 2px solid blue;
  border-radius: 20px;
  
}
.bodyy{

font-family: Arial;
background: url(../img/lib1.jpg) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

* {
box-sizing: border-box;
}

form.example input[type=text] {
padding: 10px;
font-size: 17px;
border: 1px solid grey;
float: left;
width: 80%;
background: #f1f1f1;
}

form.example button {
float: left;
width: 20%;
padding: 10px;
background: #2196F3;
color: white;
font-size: 17px;
border: 1px solid grey;
border-left: none;
cursor: pointer;
}

form.example button:hover {
background: #0b7dda;
}

form.example::after {
content: "";
clear: both;
display: table;
}

.links{
  color:black;
  text-decoration: none;
  font-weight: bold;
  font-size:19px;
}
.links:hover{
  color:navy;
  font-weight:bolder;
  font-size:20px;
}
.logo{
  margin-left: 30px;
}
/***********************              course               ****************/
.blurb h2 {
	color: navy;
	font-weight:bold;
	font-size: 2.5rem;
 }
 
 .blurb p {
	 color: black;
	 font-weight: 100;
	 font-size: 1.125rem;
	 line-height: 2;
 }
 
 .content {
	 margin-top: 100px;
	 margin-bottom: 100px;
 }
 
 .group_name{
	 padding-top: 20px;
 }
 
 @media (max-width: 1200px) {
	 #headingGroup h1 {
		 font-weight: 100;
		 font-size: 3rem;
	 }
	 .blurb h2 {
		 font-size: 2rem;
	 }
 }

 /************************               ABOUT          ********************/
 .box{
	border:2px solid black;
	height: 120px;
	margin:20px;
	box-shadow: 5px 5px grey;
	
	}
.box h4{
	color:salmon;
	text-shadow:1px 1px black;
	 text-align:center;
	 text-transform:uppercase;
	
	 font-weight: bolder;
}
.boxes h4{
	color:salmon;
	text-shadow:1px 1px black;
	 text-align:center;
	 text-transform:uppercase;
	 font-weight: bolder;
	
}

.boxes p{
	color:#284437;
	font-weight:lighter;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	text-align: center;
}


.box p{
	color:#284437;
	font-weight:lighter;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.boxes{
		   
	height: 250px;
	margin:20px;
	box-shadow: 0px 0px 4px 4px gray;
}
.boxes img{
	margin-top: 50px;
	
	background-color: transparent;
}
.cu{
	text-shadow:1px 1px black;
	 text-align:center;
	 text-transform:uppercase;
	 font-weight: bolder;
	 padding-top: 20px;
	 padding-bottom: 20px;
}

.box_img{
	padding-top: 30px;
	padding-bottom: 20px;
	display: flex;
	justify-content: center;
}
.blank{
	padding-bottom: 30%;
}

.heading-divider {
display: inline-block;
position: relative;
height: 5px;
border-radius: 30px;
background-color: #4154f1;
width: 90px;
overflow: hidden;
}

div.gallery {
	box-shadow: 0px 0px 2px 3px gainsboro;    
margin: 30px;
border: 1px solid #ccc;
float: left;
width: 200px;
}

div.gallery:hover {
border: 1px solid #777;
}

div.gallery img {
border-radius: 50%;
width: 100%;
height: auto;
}

div.desc {
padding: 15px;
text-align: center;
}

.photos{
display: flex;
justify-content: center;

}	

.discription_box{
	padding-top: 30px;
}
/***************************************                   HELP            *******************************/
.help_h1{
	padding-bottom: 30px;
	display: flex;
	justify-content: center;
}
.help_form{
	border-radius: 30px;
	background-color:#ffffff;
}
.help_input{
	background-color: #eee;
	border: none;
	border-radius: 20px;
	outline-style:none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}
.help_img{
	display: flex;
	justify-content: center;
}
